<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.css">
  <title>{{ page.title }}</title>
  <meta property="og:image" content="{{ page.og_image }}">

  <script type="text/javascript">
    (function (j, u, k, e, b, o, x) {
      j["pfObject"] = b; j[b] = j[b] || function () {
        (j[b].q = j[b].q || []).push(arguments)
      }, j[b].l = 1 * new Date(); o = u.createElement(k),
        x = u.getElementsByTagName(k)[0]; o.async = 1; o.src = e; x.parentNode.insertBefore(o, x)
    })(window, document, 'script', 'https://cdn-app.pathfactory-development.com/development2/jukebox/current/jukebox.js', "pf");
    pf('create', 'LB-B759DC90-149');
    pf('_env', 'development2');
  </script>
</head>

<body>
  <header>
    <nav>
      <a href="http://gh.prasannaboga.in/static-blog/page-one.html">Page One</a> |
      <a href="http://gh.prasannaboga.in/static-blog/page1-01.html">Page1 One</a> |
      <a href="http://gh.prasannaboga.in/static-blog/page1-02.html">Page1 Two</a> |
    </nav>
  </header>

  {{ content }}

  <footer>
    <a href="https://github.com/prasannaboga/static-blog">https://github.com/prasannaboga/static-blog</a>
  </footer>
</body>

</html>
