<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body>
    <header>
        <nav>
            <a href="/static-blog/index.html">Index</a> |
            <a href="/static-blog/about.html">About</a> |
            <a href="/static-blog/page-one.html">Page One</a> |
            <a href="/static-blog/page-two.html">Page Two</a> |
            <a href="/static-blog/page-three.html">Page Three</a> |
            <a href="/static-blog/page-four.html">Page Four</a>
        </nav>
    </header>


    {{ content }}
</body>

</html>
