<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.css">
    <title>{{ page.title }}</title>

    <script type="text/javascript">
      (function(j,u,k,e,b,o,x){j["pfObject"]=b;j[b]=j[b]||function(){
      (j[b].q=j[b].q||[]).push(arguments)},j[b].l=1*new Date();o=u.createElement(k),
      x=u.getElementsByTagName(k)[0];o.async=1;o.src=e;x.parentNode.insertBefore(o,x)
      })(window,document,'script', "http://buzzdata.local:8080/jukebox.js" ,"pf");
        pf('create', 'LB-52548E68-1');
        pf('_env', 'development');
    </script>
</head>

<body>
    <header>
        <nav>
            <a href="https://prasannaboga.github.io/static-blog/index.html">Index</a> |
            <a href="https://prasannaboga.github.io/static-blog/about.html">About</a> |
            <a href="https://prasannaboga.github.io/static-blog/page-one.html">Page One</a> |
            <a href="https://prasannaboga.github.io/static-blog/page-two.html">Page Two</a> |
            <a href="https://prasannaboga.github.io/static-blog/page-three.html">Page Three</a> |
            <a href="https://prasannaboga.github.io/static-blog/page-four.html">Page Four</a> |
            <a href="https://prasannaboga.github.io/static-blog/page-five.html">Page Five</a> |
            <a href="https://prasannaboga.github.io/static-blog/page-videos.html">Page Five</a>
        </nav>
    </header>

    <div style="display: block;height: 5px;width: auto;background-color: rgb(255, 145, 0);"></div>
    <div id="website_tools"></div>
    <div style="display: block;height: 5px;width: auto;background-color: rgb(255, 145, 0);"></div>

    {{ content }}

    <footer>
        <a href="https://github.com/prasannaboga/static-blog">https://github.com/prasannaboga/static-blog</a>
    </footer>
</body>

</html>
